*.iml
*.ipr
*.iws
target/
pom.xml.versionsBackup
test-output/
test-reports/
.idea
.DS_Store
.classpath
.settings
.project
temp-testng-customsuite.xml
test-output
.externalToolBuilders
*~
*.pyc
*.class
